html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .text {
    position: relative;
    font-weight: 700;
    font-size: 10em;
    outline: none;
    width: 100%;
    text-align: center;

    $to: 300;
    // 使用css
    $value: ();
    @for $i from 1 through $to {
      $a: ($to - $i) / $to;
      $theShadow: $i + px $i + px 0 rgba($i*random(), $i+random(), 200, $a);
      $value: append($value, $theShadow, comma);
    }
    text-shadow: $value;
  }
}
