body {
  margin: 0;
  padding: 0;

  h1 {
    text-align: center;
    margin-top: 30%;
  }

  .sticky {
    background: #fff !important;
  }

  section {
    position: relative;
    padding: 3em;
    height: 100vh;

    &:nth-child(odd) {
      background: #f1f1f1;
    }

    p {
      position: absolute;
      font-size: 2em;
      width: 30%;
      margin-top: 17%;

      span {
        width: 100%;
        background: red;
        display: block;
        height: 5px;
        margin-top: 20px;

      }
    }

    img {
      position: absolute;
      
      &:nth-of-type(1) {
        width: 40%;
        right: 0;
        top: 20%;
      }

      &:nth-of-type(2) {
        width: 20%;
        right: 40%;
        top: 30%;
        // transform: scale(2);
      }
    }
  }
}