body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
}


svg {
  position: absolute;

  circle {
    transform-origin: 50% 50%;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;

  nav {
    width: 20%;
    float: right;
    background-color: rgb(157, 93, 218);
    height: calc(100vh - 4em); // https://developer.mozilla.org/zh-CN/docs/Web/CSS/calc
    font-size: 1em;
    line-height: 1.5em;
    color: #fff;
    padding: 2em;
    clip-path: url(#clippath);

    ul {
      list-style-type: none;
      padding: 0;

      li a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: .8em 0;
        font-weight: blob;
      }

      p {
        color: #946be7;
      }
    }
  }
}


h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2em;
}

#open {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5em;
  font-size: 1.2em;
  background: none;
  border: 3px solid purple;
  padding: 1em;
  cursor: pointer;
  outline: none;

  &:hover {
    background: rgba(0, 0, 0, 0.11);
  }
}